@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --primary-color: #28B0D1;
  --secondary-color: rgb(4,252,252);
  --swiper-pagination-color: rgb(170, 170, 170);
  --swiper-navigation-size: 20px !important;
  --swiper-navigation-color: rgb(170, 170, 170);
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-1 {
  height: auto;
  background-color: rgb(239, 239, 239);
}
.container .container-max {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .container-max-1200 {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-up > a, .container-up a[href='https://maps.app.goo.gl/WLSRnCCKR9vqRTX19'] {
  display: none;
}
.container-up i {
  font-size: 30px;
  color: var(--primary-color);
}
.container-up h4 {
  margin: 5px 0;
}
.calendar {
  display: none;
}
header {
  height: 100px;
  background-color: black;
  transition: all 0.275s ease-in;
  z-index: 11;
}
.container .container-max img {
  width: 150px;
  cursor: pointer;
}
header i {
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  color: white;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.btn-num {
  background-color: #28B0D1;
}
.links a:hover {
  transition: all 0.2s linear;
  background-color: white;
  color: black;
}
.links {
  display: none;
}
.container-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 0;
  opacity: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.879);
  z-index: 12;
}
.container-overlay .overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-overlay .overlay-content img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 50px;
}
.container-overlay .overlay-content a {
  color: white;
  padding: 10px 15px;
  margin: 5px;
  transition: all 0.2s linear;
  border-radius: 10px;
}
.container-overlay .overlay-content a:hover {
  transition: all 0.2s linear;
  background-color: var(--primary-color);
}
.container-overlay .overlay-content #close {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 20px;
  left: 50px;
  cursor: pointer;
}

/*Animaciones*/
@keyframes showMenu {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes closeMenu {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}
/*Animaciones*/
.hero-container {
  flex-direction: column;
  background-image: url(../img/bg-hero-2.webp);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}
.hero-bg {
  background: linear-gradient(45deg, rgba(37,207,214,0.97) 46%, rgba(0,212,255,1) 100%);
}
.hero-container .hero-txt {
  background-color: #2e9eba;
  padding: 20px 1rem 60px 1rem;
  position: absolute;
  bottom: -220px;
}
.hero-container .hero-txt h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}
.hero-container .hero-txt p {
  color: white;
  margin-bottom: 20px;
}
.hero-container .hero-txt a {
  padding: 10px 25px;
  background-color: aliceblue;
  transition: all 0.275s ease-in;
  border-radius: 5px;
}
.hero-container .hero-txt a:hover {
  transition: all 0.275s ease-in;
  background-color: black;
  color: white;
}
.agenda {
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: -360px;
}
.agenda .agenda-txt {
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 15px;
}
.agenda .agenda-txt .bi-calendar {
  font-size: 40px;
}
.agenda .agenda-txt h3 {
  font-size: 25px;
}
.agenda .agenda-txt a,
.container-map a {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: aliceblue;
  border-radius: 10px;
  transition: all 0.275s linear;
}
.agenda .agenda-txt a:hover,
.container-map a:hover {
  transition: all 0.275s linear;
  background-color: black;
  color: white;
}
.container-servicios {
  margin-top: 400px;
  flex-direction: column;
  padding: 0 1rem;  
  text-align: center;
}
.servi {
  flex-direction: column;
}
.container-servicios > p {
  margin: 10px 0 35px 0;
}
.servicios {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  place-content: center;
  gap: 50px;
}
.card-servicio {
  display: flex;
  justify-content: space-evenly;  
  padding: 25px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  position: relative;

  -webkit-box-shadow: 7px 7px 16px -1px rgba(197, 197, 197,0.99);
  -moz-box-shadow: 7px 7px 16px -1px rgba(197, 197, 197,0.99);
  box-shadow: 7px 7px 16px -1px rgba(197, 197, 197, 0.99);
}
.subtitle {
  margin: 10px 0;
}
.card-servicio a {
  padding: 10px 50px; 
  background-color: #28B0D1;
  border-radius: 5px;
  color: white;
  position: absolute;
  bottom: -20px;
  transition: all 0.275s linear;
}
.card-servicio a:hover {
  transition: all 0.275s linear;
  background-color: black;
}
.card-servicio h4 {
  font-size: 1.4em;
}
.container .container-max-1200 .card-servicio img {
  width: 80px;
}
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-cards button {
  margin-top: 40px;
  padding: 10px 30px; 
  background-color: #28B0D1;
  border-radius: 5px;
  color: white;
  border: none;
  transition: all 0.275s linear;
  cursor: pointer;
  margin-bottom: 30px;
}
.container-cards button:hover {
  transition: all 0.275s linear;
  background-color: black;
}
#hide-services {
  display: none;
}
.nosotros {
  flex-direction: column;
  padding: 50px 0;
}
.nosotros img {
  width: 80%;
  border: 5px solid white;
  margin-bottom: 20px;
}
.txt-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}
.swiper-up h3, .swiper-up h4, .promotions h4, .promotions h3 {
  text-align: center;
}
.txt-us h4, 
.swiper-up h4,
.container-direction h4,
.promotions h4 {
  font-size: 20px;
  font-weight: 300;
}
.txt-us h3, 
.swiper-up h3,
.container-direction h3,
.promotions h3 {
  font-size: 2em;
  font-weight: 300;
}
.txt-us hr, .swiper-up hr, .container-direction hr, .container-footer hr,
.promotions hr {
  color: #28B0D1;
  width: 100px;
  border: 1px solid;
  margin: 10px 0 30px 0;
}
.txt-us a {
  padding: 10px 25px;
  background-color: #28B0D1;
  color: white;
  border-radius: 5px;
  transition: all 0.275s ease-in-out;
  margin-top: 20px;
}
.txt-us a:hover {
  transition: all 0.275s ease-in-out;
  background-color: black;
}
.txt-us p {
  color: black;
}
.txt-us ul {
  text-align: left;
  padding: 0 1rem;
}
.txt-us ul li {
  margin-bottom: 15px;
}
.txt-us ul li::marker {
  color: #28B0D1;
}
.container-us {
  background-image: url(../img/dentist-elements.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 1rem;
  text-align: center;
  margin-bottom: 40px;
}
.swiper-container{
  position: relative;
  width: 70%;
  margin: 0 auto;
  max-width: 1200px;
}
.swiper-container .swiper-button-prev{
  left: -20px;
}
.swiper-container .swiper-button-next{
  right: -20px;
}
.swiper-container .swiper-pagination{
  bottom: -30px!important;
}
.swiper-up {
  flex-direction: column;
}
.container-review {
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-direction: column;
  width: 100%;
  height: max-content;
  border: 10px solid rgba(241, 241, 241, 0.834);
  padding: 10px;
}
.container-review img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.container-review hr {
  border: 1px solid rgba(217, 217, 217, 0.753);
  width: 100%;
  margin-bottom: 10px;
}
.container-review i {
  color: goldenrod;
}
.container-us-2 {
  background-image: url(../img/bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 30px 1rem;
  text-align: center;
  margin-top: 40px;
  background-color: rgba(194, 194, 194, 0.108);
}
.container-direction {
  flex-direction: column;
  text-align: center;
}
.map iframe {
  width: 100%;
  min-height: 400px;
}
.container-map {
  border-radius: 10px;
  padding: 30px 1rem;
  background: linear-gradient(45deg, rgba(37,207,214,0.97) 46%, rgba(0,212,255,1) 100%);
  margin: 20px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-map h4 {
  font-size: 1.5em;
  margin-bottom: 15px;
  font-weight: 500;
}
.container-map p:nth-child(2),
.container-map p:nth-child(4),
.container-map p:nth-last-child(2) {
  margin-bottom: 25px;
}
.footer-1 {
  background-color: black;
  padding: 40px 1rem 10px 1rem;
}
.container-footer {
  flex-direction: column;
  color: white;
  text-align: center;
}
.footer-1 img {
  max-width: 200px;
  margin-bottom: 35px;
}
.container-footer a {
  color: white;
}
.container-footer h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
}
.social-media a {
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2e9eba;
  font-size: 25px;
  transition: all 0.275s ease-in-out;
}
.social-media a:hover {
  background-color: aliceblue;
  color: black;
  transition: all 0.275s ease-in-out;
}
.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 50px;
  place-items: center;
  width: max-content;
  place-content: center;
}
/*Botones Flotantes*/
.botones-flotantes {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 13;
}
.botones-flotantes a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.275s ease-in-out;
}
.botones-flotantes #whats {
  background-color: #3cb878;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
.botones-flotantes #tel {
  background-color: gray;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
.botones-flotantes #whats:hover {
  background-color: #268353;
}
.botones-flotantes #tel:hover {
  background-color: rgb(55, 55, 55);
}
.botones-flotantes img {
  width: 40px;
}
.botones-flotantes #menu-contacto {
  background-color: #2973ba;
  z-index: 14;
  position: relative;
  width: 75px;
  height: 75px;
}
.botones-flotantes #menu-contacto:hover {
  background-color: #1d5283;
}
.show-whats {
  right: 90px !important;
}
.show-tel {
  bottom: 90px !important;
}
.promotions {
  flex-direction: column;
  padding: 60px 1rem;
  box-sizing: border-box;
}
.grid-promotions {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  place-items: center;
  gap: 40px;
}

.grid-promotions .promotion-item {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.grid-promotions .promotion-item .promotion-item-btn {
  background-color: #515f88;
  padding: 10px 20px;
  color: #fff;
  border-radius: 15px;
  transition: transform 0.3s ease-in;
}

.grid-promotions .promotion-item .promotion-item-btn:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

.grid-promotions img {
  width: 100%;
  transition: all 0.275s ease-in-out;
  border: 5px solid gold;
}
.grid-promotions a:hover > img{
  transition: all 0.275s ease-in-out;
  transform: rotate(5deg);
}
@media (min-width: 768px) {
  .header-1 {
    height: 95px;
  }
  .calendar {
    display: flex;
  }
  .container-up {
    flex-direction: row;
    align-items: end;
  }
  .container-up i {
    font-size: 35px;
    margin-right: 20px;
  }
  .container-up > a, .container-up a[href='https://maps.app.goo.gl/WLSRnCCKR9vqRTX19'] {
    display: block;
  }
  .agendar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 30px;
    padding: 20px 25px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.275s ease-in;
  }
  .agendar i {
    font-size: 20px;
    margin-right: 10px;
  }
  .agendar:hover {
    transition: all 0.275s ease-in;
    background-color: black;
  }
  .links {
    display: flex;
  }
  header i {
    display: none;
  }
  .hero-container {
    height: 650px;
    align-items: baseline;
  }
  .hero-container .hero-txt {
    position: relative;
    bottom: 0;
    background-color: transparent;
    margin-left: 10vw;
    max-width: 470px;
    padding: 20px 1rem;
    border-radius: 10px;
  }
  .hero-container .hero-txt h1 {
    font-size: 2.8em;
  }
  .hero-container .hero-txt h1, 
  .hero-container .hero-txt p {
    color: white;
  }
  .hero-container .hero-txt p {
    font-size: 20px;
  }
  .agenda {
    bottom: -100px;
    width: 350px;
    right: 100px;
    height: 250px;
  }
  .agenda .agenda-txt {
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
  .agenda .agenda-txt h3 {
    font-size: 2.1em;
  }
  .agenda .agenda-txt > i {
    font-size: 35px;
  }
  .container-servicios {
    margin-top: 130px;
  }
  .container-servicios h3 {
    font-size: 2.8em;
    max-width: 900px;
    font-weight: 300;
  }
  .container-servicios .subtitle {
    margin-top: 20px;
    font-size: 20px;
    max-width: 700px;
  }
  .container-cards {
    margin-top: 50px;
  }
  .container-cards button {
    margin-top: 70px;
    font-size: 20px;
  }
  .servicios {
    grid-template-columns: repeat(3,1fr);
  }
  .container-us {
    background-position: center center;
    padding: 80px 1rem;
    margin-top: 40px;
  }
  .nosotros {
    flex-direction: row;
  }
  .nosotros img {
    max-width: 400px;
  }
  .txt-us h3, .swiper-up h3,
  .container-direction h3, .promotions h3 {
    font-size: 3em;
  }
  .txt-us h4, .swiper-up h4,
  .container-direction h4,
  .promotions h4 {
    font-size: 1.5em;
  }
  .txt-us p {
    max-width: 450px;
    font-size: 1.2em;
  }
  .txt-us {
    align-items: flex-start;
  }
  .container-us {
    text-align: left;
  }
  .swiper-up {
    height: 400px;
    margin: 80px 0;
  }
  .swiper-up hr {
    margin-bottom: 50px;
  }
  .container-review img {
    width: 50px;
    height: 50px;
  }
  .container-review h5 {
    font-size: 20px;
  }
  .container-direction {
    margin: 60px 0;
  }
  .map iframe {
    max-width: 650px;
  }
  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container-map {
    height: 600px;
    max-width: 500px;
    padding: 30px;
    -webkit-box-shadow: -13px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: -13px 0px 20px -7px rgba(0,0,0,0.75);
  }
  .container .container-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .part-final {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .container-us-2 {
    padding: 0;
  }
  .grid-promotions {
    grid-template-columns: repeat(3, minmax(300px, 400px));
    gap: 60px;
  }
}